name: 'Dependabot HTML Report'
description: 'Generates an HTML report from Dependabot PRs and Alerts'
inputs:
  prs_data:
    description: 'JSON string of PRs'
    required: true
  alerts_data:
    description: 'JSON string of Alerts'
    required: false
    default: '[]'
  output_path:
    description: 'Path to save the HTML report'
    required: true
  issue_url:
    description: 'URL of the summary issue'
    required: false
  company_name:
    description: 'Company name'
    required: false
    default: 'PRB'
  logo_url:
    description: 'Logo URL'
    required: false
runs:
  using: "composite"
  steps:
    - name: Generate HTML
      shell: bash
      env:
        PRS_DATA: ${{ inputs.prs_data }}
        ALERTS_JSON: ${{ inputs.alerts_data }}
        HTML_PATH: ${{ inputs.output_path }}
        ISSUE_URL: ${{ inputs.issue_url }}
        COMPANY_NAME: ${{ inputs.company_name }}
        LOGO_URL: ${{ inputs.logo_url }}
        ACTION_PATH: ${{ github.action_path }}
      run: python3 $ACTION_PATH/generate_html.py
